h1, p {
    font-family: Helvetica, sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    background-color: rgb(35, 35, 35);
}

.section {
    margin: 0;
    padding: 0;
    width: 100%;
}

#intro_section {
    height: 100vh;
}

#title {
    color: white;
}

#description {
    color: white;
}