*{
    margin: 0px;
    padding: 0px;
}

h1, p {
    font-family: Helvetica, sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    background-color: rgb(35, 35, 35);
}

.section {
    margin: 0;
    padding: 0;
    width: 100%;
}

#intro_section {
    height: 100vh;
    background-color: white;
    animation-name: background;
    animation-duration: 5s;
}

#title {
    color: white;
    animation-name: text;
    animation-duration: 5s;
}

#description {
    color: white;
    animation-name: text;
    animation-duration: 5s;
} 

@keyframes background {
    from {background-color: black;}
    to {background-color: white;}
}

@keyframes text {
    from{color: white;}
    to {color: black;}
}