h1, p {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(35, 35, 35);
    overflow-y: hidden;
}

.section {
    margin-left: 0;
    width: 100%;
}

#intro_section {
    height: 100vh;
}

#about_section {
    background-color: white;
}

#projects_section {
    background-color: white;
    
}

#title {
    color: white;
}

#description {
    color: white;
}